<main>

  <div class="newroom">

    <div class="newroom-side">
      <div class="side-title-box">
        <%= link_to "基本情報", new_room_path, {class: "side-title"} %>
      </div>
    </div>

    <div class="newroom-wrapper">
      <div class="newroom-container">

        <div class="newroom-title">
          <p>ルーム情報登録</p>
        </div>

        <%= form_for @room, url: new_room_path do |f| %>

        <div class="newroom-tables">
          <div class="newroom-box">
            <div class="room-label-first"><%= f.label :room_name, "ルーム名", {class: "room-label-text"} %></div>
            <div class="room-field-box"><%= f.text_field :room_name, placeholder: "ルーム名を入力", class: "room-field" %></div>
          </div>

          <div class="newroom-box">
            <div class="room-label-second"><%= f.label :room_introduction, "ルーム紹介", {class: "room-label-text"} %></div>
            <div class="room-field-box"><%= f.text_field :room_introduction, placeholder: "ルーム説明を入力", class: "room-field-long" %></div>
          </div>

          <div class="newroom-box">
            <div class="room-label-third"><%= f.label :room_price, "料金", {class: "room-label-text"} %></div>
            <div class="room-field-box"><%= f.number_field :room_price, placeholder: "一日あたりの料金を入力", class: "room-field" %></div>
          </div>

          <div class="newroom-box">
            <div class="room-label-third"><%= f.label :room_address, "住所", {class: "room-label-text"} %></div>
            <div class="room-field-box"><%= f.text_field :room_address, placeholder: "住所を入力", class: "room-field" %></div>
          </div>

          <div class="newroom-box-last">
            <div class="room-label"><%= f.label :room_image, "ルーム画像", {class: "room-label-text"} %></div>
            <div class="room-field-box"><%= f.file_field :room_image, {class: "room-field-last"} %></div>
          </div>
        </div>

        <div class="newroom-submit">
          <%= f.submit "登録", class: "newroom-btn" %>
        </div>

        <% end %>

      </div>
    </div>

  </div>

</main>